.comment {
  max-width: 100%;
  margin-bottom: 16px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.comment_content {
  flex-grow: 1;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment_writer {
  font-size: 16px;
  font-family: var(--font);
  font-weight: 600;
  padding: 0 0 2px;
  margin: 0 4px 0 0;
}

.comment_text {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  max-width: calc(100%-40px);
  white-space: collapse;
  font-family: var(--font);
  font-size: 15px;
}

.comment_like_container {
  margin: 4px 0 0 -4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like {
  width: 32px;
  height: 32px;
  background-image: url(../asset/like.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.like:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

.dislike {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  background-image: url(../asset/dislike.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.dislike:hover {
  background-color: lightgrey;
  border-radius: 50%;
}

.recomment {
  width: 40px;
  height: 32px;
  margin-left: 12px;
}

.recomment:hover {
  background-color: lightgrey;
  border-radius: 16px;
}

.comment_avatar {
  cursor: pointer;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
}
