.tools_btn {
  cursor: pointer;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.tools_btn:hover {
  background-color: lightgrey;
  border-radius: 50%;
}
