.comment_input_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.comment_input_container input {
  margin-left: 16px;
  border: none;
  border-bottom: 1px solid lightgray;
  width: calc(100% - 16px);
}

.comment_input_container input::placeholder {
  color: grey;
}

.comment_input_container input:focus {
  animation-name: border_change;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
