.opened_aside_button {
  width: 204px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
}

.opened_aside_button:hover {
  border-radius: 12px;
  background-color: #f2f2f2;
}

.opened_aside_button div {
  width: 48px;
}

.opened_aside_button p {
  font-size: 14px;
  font-family: var(--font);
}

.button_img {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: start;
  background-repeat: no-repeat;
}

.opened_aside {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px 12px;
  margin-top: 59px;
  position: sticky;
  top: 59px;
  left: 0;
}
