.video_detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
  gap: 8px;
}

.video_play_section {
  display: flex;
  flex-direction: column;
}

.video_play_thum {
  border-radius: 16px;
  aspect-ratio: 16 / 9;
  width: 100%;
  min-width: 600px;
}

.video_detail_title {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 900;
  padding: 12px 0;
  .container {
    margin: 24px 0px 32px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .comment_count {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 900;
  }

  .comment_input_box {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 8px;
  }

  .comment_input_box input {
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 100%;
    padding-bottom: 4px;
  }

  .placeholder {
    position: absolute;
    font-family: var(--font);
    font-size: 14px;
    left: 48px;
    top: 10px;
  }

  .input_line {
    position: absolute;
    height: 2px;
    left: 48px;
    top: 35px;
    width: calc(100% - 48px);
    background-color: lightgray;
    border-bottom: 1px solid transparent;
    transition: background-color 0.5s ease;
  }

  .comment_input_box input:focus ~ .input_line {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .comment_area {
    margin-top: 32px;
  }
}

.video_detail_info {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
}

.row_set {
  display: flex;
  flex-direction: row;
}

.gap_12px {
  gap: 12px;
}

.video_icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.container {
  margin: 24px 0px 32px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.comment_count {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 900;
}

.comment_input_box {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 8px;
}

.comment_input_box input {
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 100%;
  padding-bottom: 4px;
}

.placeholder {
  position: absolute;
  font-family: var(--font);
  font-size: 14px;
  left: 48px;
  top: 10px;
}

.input_line {
  position: absolute;
  height: 2px;
  left: 48px;
  top: 35px;
  width: calc(100% - 48px);
  background-color: lightgray;
  border-bottom: 1px solid transparent;
  transition: background-color 0.5s ease;
}

.comment_input_box input:focus ~ .input_line {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment_area {
  margin-top: 32px;
}
